{% extends 'AppBundle::base.html.twig' %}


{% block body %}

<h2>Admin</h2>
<form method="post" action="{{ path('adminAccess', { team: team }) }}">
    <input type="password" name="adminword" value="" />
    <input type="hidden" name="path" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    <input type="submit" value="ok" />
</form>

{% endblock %}