<h3>Regeln</h3>

<ol>
    <li>Einsatz: CHF 20.-</li>
    <li>Wer nach der dritten Runde noch nicht bezahlt hat, fliegt aus dem Rennen</li>
    <li>Preise:
        <ul>
            <li>1. Platz: 50% der Hälfte aller Einzahlungen</li>
            <li>2. Platz: 30% der Hälfte aller Einzahlungen</li>
            <li>3. Platz: 20% der Hälfte aller Einzahlungen</li>
        </ul>
    </li>
    <li>Punktevergabe:
        <ul>
            <li>10 Punkte für einen exakten Treffer</li>
            <li>6 Punkte, wenn es einen Sieger gibt, die Tendenz stimmt und die Differenz richtig ist (z.B. 4:2 statt 3:1)</li>
            <li>5 Punkte für Unentschieden (z.B. 3:3 statt 2:2)</li>
            <li>4 Punkte, wenn die Tendenz stimmt und die Differenz um eins abweicht (z.B. 4:2 statt 4:1)</li>
            <li>3 Punkte, wenn die Tendenz stimmt (z.B. 8:2 statt 3:2)</li>
            <li>1 Punkt, wenn die Tendenz nur um eins abweicht (z.B. 8:2 statt 3:3). Dieser Punkt wird also nur dann NICHT vergeben, wenn die Mannschaft gewinnt, auf die man NICHT getippt hat.</li>
            <li>0 Punkte bei einem totalen Versagen</li>
        </ul>
    </li>
</ol>
