{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ teamName }} - Toto{% endblock %}

{% block body %}


    <h1>{{ teamName }}</h1>

    <p>Error: Es wurde keine aktuelle Saison gefunden.</p>
    
{% endblock %}
